.subscribe {
  min-height: 438px;
  background-size: 100%;

  .wrapper {
    display: flex;
  }
}

.subscribe-image {
  background-image: url(../img/subscribe/subscribe_img.png);
}

.subscribe-background {
  background-image: url(../img/subscribe/subscribe_bg.png);
}

.subscribe-info-outer {
  display: flex;
  align-items: center;
  height: 438px;
  width: 50%;
}

.subscribe-info-inner {
  display: flex;
  align-items: end;
}

.subscribe-line {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
}

.subscribe-info-text {
  margin-left: 28px;
  width: 411px;
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
  }
}
.subscribe-info-name {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #222224;
  span {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $main-color;
  }
}

.subscribe-info-slider {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-top: 41px;

  li div {
    width: 38px;
    height: 4px;
  }

  li:nth-child(odd) {
    div {
      background-color: #d6d6d6;
    }
  }

  li:nth-child(even) {
    div {
      background-color: $main-color;
    }
  }
}

.subscribe-form-outer {
  display: flex;
  justify-content: center;
  height: 438px;
  width: 50%;
}

.subscribe-form-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe-form-text {
  display: flex;
  flex-direction: column;
  height: 61px;
  align-items: center;
  font-size: 14px;
  line-height: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;

  span {
    font-size: 24px;
    line-height: 54px;
  }
}

.subscribe-form-email {
  display: flex;
  border-radius: 23px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 46px;
  margin-top: 35px;

  input {
    height: inherit;
    outline: none;
    overflow: hidden;
    border: none;
    width: 254px;
    padding-left: 28px;
    opacity: 0.67;
    font-size: 14px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #222224;
    background-color: #e1e1e1;
  }

  input:hover {
    background-image: linear-gradient(to bottom, #f1efef 0, #f1efef 100%);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    outline: none;
    overflow: hidden;
    border: none;
    width: 104px;
    background-color: $main-color;

    span {
      font-size: 14px;
      line-height: 54px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #ffffff;
    }
  }

  button:hover {
    background-color: $main-color-hover;
  }
}

.footer {
  display: flex;
  min-height: 458px
}

.footer-info {
  width: $footer-info-width;
  margin-top: 109px;

  a {
    margin-bottom: 19px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $grey-color;
  }

  p:last-child {
    margin-bottom: 89px;
  }
}

.copyright {
  display: flex;
  height: 79px;
  background-color: #e6e6e6;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
  }
}

.footer-nav-menu-bottom {
  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 123px;
    width: $wrapper-width - $footer-info-width;
    list-style-type: none;

    .footer-nav-menu-bottom-item {
      a {
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $grey-color;
      }
    }

    .footer-nav-menu-bottom-item:first-child {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $main-color;
    }

    .footer-nav-menu-bottom-item:hover {
      a {
        color: $grey-color-hover;
      }
    }
  }
}

.social-items {
  display: flex;
  justify-content: space-between;
  width: 191px;
  list-style-type: none;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;

    a i {
      font-size: 16px;
      line-height: 42px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #b2b2b2;
    }
  }

  li:hover {
    background-color: $main-color;

    a i {
      color: #f7f7f8;
    }
  }

  // li:nth-child(2) {
  //   background-color: $main-color;
  //
  //   a i {
  //     color: #f7f7f8;
  //   }
  // }
}
