@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

ol, ul, h1, h2, h3, h4, h5, .radio, .form-group, .panel {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover, a:focus {
  text-decoration: none;
}

a img {
  border: none;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

.breadcrumb-wrapper {
  display: flex;
  height: 148px;
  background-color: #f8f3f4;
}
.breadcrumb-wrapper .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-wrapper-title span {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumb {
  padding: 0;
  margin: 0;
}
.breadcrumb li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumb .active {
  font-weight: 700;
  color: #f16d7f;
}

header .wrapper {
  display: flex;
  min-height: 100px;
  align-items: center;
}
header .wrapper > * {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__name {
  text-transform: uppercase;
  font-size: 27px;
  margin-left: 13px;
}

.logo__name span {
  color: #f16d7f;
  font-weight: 900;
}

.search {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 38px;
  margin-left: 37px;
}

.search__input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
  width: 265px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search__button {
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #ffffff;
  padding: 12px;
  width: 37px;
}

.search__button:hover {
  background-image: linear-gradient(to bottom, #f1efef 0, #f1efef 100%);
}

.search__browse {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: 14px 9px 14px 15px;
  background-image: linear-gradient(to bottom, #e4e4e4 0, #f5f5f5 100%);
}
.search__browse > i {
  margin-left: 8px;
}

.search__browse:hover {
  background-image: linear-gradient(to bottom, #f1efef 0, #f1efef 100%);
}

.cart {
  margin-left: auto;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

nav {
  display: flex;
  justify-content: center;
  min-height: 51px;
  font-size: 14px;
  font-weight: 700;
}
nav .nav-menu-top {
  height: inherit;
  min-width: 680px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: none;
}
nav .nav-menu-top a {
  text-transform: uppercase;
}
nav .nav-menu-top li {
  padding: 0 6px 15px;
}
nav .nav-menu-top li:hover {
  border-bottom: 3px solid #ef5b70;
  padding: 0 6px 12px;
}

.my-account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  justify-content: center;
  margin-left: 26px;
}
.my-account a {
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.my-account i {
  margin-left: 8px;
}

.my-account:hover {
  background-color: #bd5866;
}

.subscribe {
  min-height: 438px;
  background-size: 100%;
}
.subscribe .wrapper {
  display: flex;
}

.subscribe-image {
  background-image: url(../img/subscribe/subscribe_img.png);
}

.subscribe-background {
  background-image: url(../img/subscribe/subscribe_bg.png);
}

.subscribe-info-outer {
  display: flex;
  align-items: center;
  height: 438px;
  width: 50%;
}

.subscribe-info-inner {
  display: flex;
  align-items: end;
}

.subscribe-line {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
}

.subscribe-info-text {
  margin-left: 28px;
  width: 411px;
}
.subscribe-info-text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribe-info-name {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #222224;
}
.subscribe-info-name span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.subscribe-info-slider {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-top: 41px;
}
.subscribe-info-slider li div {
  width: 38px;
  height: 4px;
}
.subscribe-info-slider li:nth-child(odd) div {
  background-color: #d6d6d6;
}
.subscribe-info-slider li:nth-child(even) div {
  background-color: #f16d7f;
}

.subscribe-form-outer {
  display: flex;
  justify-content: center;
  height: 438px;
  width: 50%;
}

.subscribe-form-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe-form-text {
  display: flex;
  flex-direction: column;
  height: 61px;
  align-items: center;
  font-size: 14px;
  line-height: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscribe-form-text span {
  font-size: 24px;
  line-height: 54px;
}

.subscribe-form-email {
  display: flex;
  border-radius: 23px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 46px;
  margin-top: 35px;
}
.subscribe-form-email input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  width: 254px;
  padding-left: 28px;
  opacity: 0.67;
  font-size: 14px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #222224;
  background-color: #e1e1e1;
}
.subscribe-form-email input:hover {
  background-image: linear-gradient(to bottom, #f1efef 0, #f1efef 100%);
}
.subscribe-form-email button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  width: 104px;
  background-color: #f16d7f;
}
.subscribe-form-email button span {
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.subscribe-form-email button:hover {
  background-color: #bd5866;
}

.footer {
  display: flex;
  min-height: 458px;
}

.footer-info {
  width: 430px;
  margin-top: 109px;
}
.footer-info a {
  margin-bottom: 19px;
}
.footer-info p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer-info p:last-child {
  margin-bottom: 89px;
}

.copyright {
  display: flex;
  height: 79px;
  background-color: #e6e6e6;
}
.copyright .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright span {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer-nav-menu-bottom nav {
  display: flex;
  justify-content: space-around;
  margin-top: 123px;
  width: 710px;
  list-style-type: none;
}
.footer-nav-menu-bottom nav .footer-nav-menu-bottom-item a {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer-nav-menu-bottom nav .footer-nav-menu-bottom-item:first-child {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.footer-nav-menu-bottom nav .footer-nav-menu-bottom-item:hover a {
  color: #b5b5b5;
}

.social-items {
  display: flex;
  justify-content: space-between;
  width: 191px;
  list-style-type: none;
}
.social-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}
.social-items li a i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
.social-items li:hover {
  background-color: #f16d7f;
}
.social-items li:hover a i {
  color: #f7f7f8;
}

.slider {
  position: relative;
  height: 665px;
  background-image: url(../img/topHeaderBack.png);
}

.slider-text {
  position: absolute;
  top: 224px;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  line-height: 0.77;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.slider-text > div span {
  font-size: 40px;
}
.slider-text > div span:last-child {
  color: #f16d7f;
}

.category {
  margin-top: 98px;
}

.category-items {
  height: 823px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

.offer1, .offer4 {
  height: 542px;
}

.offer2, .offer3 {
  height: 261px;
}

.category-item {
  width: 560px;
}
.category-item a {
  display: block;
  position: relative;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 26px;
  height: 82px;
  background-color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  padding: 0 19px;
}
.badge span:first-child {
  font-size: 18px;
}
.badge span:last-child {
  font-size: 30px;
  color: #f16d7f;
}

.product {
  margin-top: 100px;
}

.product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-title span:first-child {
  font-size: 30px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.product-title span:last-child {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.product-list-items {
  display: flex;
  height: 802px;
  margin-top: 60px;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.product-item {
  position: relative;
  width: 261px;
  height: 362px;
}
.product-item .product-item__img {
  display: block;
  height: 280px;
}

.product-item-hover {
  position: absolute;
  display: none;
  width: 261px;
  height: 280px;
  background-color: rgba(58, 56, 56, 0.83);
}

.product-item-hover__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 39px;
  margin-top: 98px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.product-item-hover__button span {
  margin-left: 7px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.product-items > li:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product-items > li:hover .product-item-hover {
  display: flex;
  justify-content: center;
}

.product-item-price {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  text-transform: uppercase;
  margin-left: 13px;
}
.product-item-price span:first-child {
  margin-top: 19px;
  font-size: 13px;
  font-weight: 400;
}
.product-item-price span:last-child {
  margin-top: 17px;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}

.product-btn-all {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 30px auto 0;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.product-btn-all span {
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
}
.product-btn-all i {
  margin-left: 9px;
  font-size: 15px;
}

.product-btn-all:hover {
  background-color: #bd5866;
}

.feature {
  min-height: 723px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.feature-inner {
  min-height: 529px;
  display: inherit;
  background-color: #222224;
}

.feature-img {
  width: 767px;
}

.feature-img {
  position: relative;
}
.feature-img > img {
  position: absolute;
}

.feature-label {
  position: absolute;
  top: 146px;
  left: 39px;
  width: 293px;
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-transform: uppercase;
}
.feature-label span:first-child {
  font-size: 53.7px;
}
.feature-label span:last-child {
  color: #f16d7f;
  font-size: 53.7px;
}

.feature-info-items {
  margin-left: 32px;
  margin-top: 48px;
}

.feature-info-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 294px;
}

.feature-info-item:not(:first-child) {
  margin-top: 45px;
}

.feature-info-item-text {
  width: 219px;
  color: #fbfbfb;
  letter-spacing: 0.025em;
}
.feature-info-item-text span {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.feature-info-item-text p {
  margin-top: 17px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
}

.shopping-cart {
  min-height: 1123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopping-cart-items {
  width: inherit;
}

.shopping-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.shopping-cart-item .shopping-cart-item-other {
  min-width: 625px;
  display: flex;
  margin-right: -38px;
}
.shopping-cart-item .shopping-cart-item-other-field {
  min-width: 125px;
  display: flex;
  justify-content: center;
}

.shopping-cart-item:first-child {
  height: 52px;
}
.shopping-cart-item:first-child span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
}

.shopping-cart-item:not(:first-child) {
  min-height: 165px;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-first {
  width: 278px;
  display: flex;
  justify-content: space-between;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-other span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-other input {
  width: 53px;
  height: 29px;
  border: 1px solid #eaeaea;
  text-align: center;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-other input:focus {
  outline: none;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-other button {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #ffffff;
  color: #c0c0c0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
.shopping-cart-item:not(:first-child) .shopping-cart-item-other button:focus {
  outline: none;
  color: #b5b5b5;
}

.shopping-cart-item-first-properties h4 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 38px;
}
.shopping-cart-item-first-properties div {
  display: flex;
  flex-direction: column;
}
.shopping-cart-item-first-properties div span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}
.shopping-cart-item-first-properties div span > span {
  font-weight: 300;
  color: #6f6e6e;
}

.shopping-cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.shopping-cart-button:focus {
  outline: none;
}

.shopping-cart-button:hover {
  background-color: #b5b5b5;
}
.shopping-cart-button:hover span {
  color: #ffffff;
}

.shopping-cart-button-clear {
  width: 235px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.shopping-cart-button-clear span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.shopping-cart-button-continue {
  width: 225px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.shopping-cart-button-continue span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.shopping-cart-form {
  height: 214px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}
.shopping-cart-form .shopping-cart-form-item {
  display: flex;
  height: inherit;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(1) {
  height: 268px;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(1) .shopping-cart-form-item__button {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(1) .shopping-cart-form-item__button span {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(1) .shopping-cart-form-item__button:hover {
  background-color: #b5b5b5;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(1) .shopping-cart-form-item__button:hover span {
  color: #ffffff;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(2) {
  height: 184px;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(2) .shopping-cart-form-item__button {
  width: 118px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(2) .shopping-cart-form-item__button span {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(2) .shopping-cart-form-item__button:hover {
  background-color: #b5b5b5;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(2) .shopping-cart-form-item__button:hover span {
  color: #ffffff;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) {
  width: 318px;
  height: 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5f3f3;
  padding-top: 40px;
  padding-right: 42px;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) .shopping-cart-form-item-line {
  width: 273px;
  margin-top: 22px;
  border-bottom: 1px solid #e2e2e2;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) h6 {
  width: 101px;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) h4 {
  width: 165px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-top: 14px;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) h4 span:nth-child(2) {
  color: #f16d7f;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) .shopping-cart-form-item__button {
  width: 273px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  border: 1px solid #eaeaea;
  border-radius: 0;
  margin-top: 17px;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) .shopping-cart-form-item__button span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) .shopping-cart-form-item__button:hover {
  background-color: #bd5866;
}
.shopping-cart-form .shopping-cart-form-item:nth-child(3) .shopping-cart-form-item__button:hover span {
  color: #ffffff;
}
.shopping-cart-form form {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.shopping-cart-form form h4 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}
.shopping-cart-form form span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}
.shopping-cart-form form input {
  width: 337px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 18px;
}
.shopping-cart-form form input:focus {
  outline: none;
}

.image-slide {
  min-height: 775px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-slide-button {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.image-slide-button:hover {
  background-color: #b5b5b5;
}
.image-slide-button:hover span {
  color: #ffffff;
}

.image-slide-img {
  position: relative;
  align-self: flex-start;
  margin-top: 11px;
  z-index: 1;
}

.product-description {
  position: relative;
  height: 730px;
  outline: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -84px;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.product-description-outer {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
}

.product-description-title {
  width: 255px;
  height: 58px;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product-description-title h5 {
  font-size: 14px;
  line-height: 10px;
  font-weight: 700;
  color: #f16d7f;
}
.product-description-title h2 {
  font-size: 18px;
  line-height: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.product-description-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  margin-top: 67px;
}

.product-description-subinfo {
  min-width: 334px;
  display: inherit;
  justify-content: space-between;
  margin-top: 28px;
}
.product-description-subinfo h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.product-description-subinfo h5 span {
  color: #2f2f2f;
}

.product-description-outer > h2 {
  height: 104px;
  display: inherit;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
}

.product-description-line {
  width: inherit;
  border-bottom: 1px solid #eaeaea;
}

.product-description-outer > form {
  width: 537px;
  height: 144px;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 63px;
}

.product-description__form__div {
  width: inherit;
  display: inherit;
  justify-content: space-between;
}

.product-description__form-item {
  width: 144px;
  height: 61px;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}
.product-description__form-item .color__div {
  display: inherit;
}
.product-description__form-item .color__div div {
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 33px;
  border: 1px solid #eaeaea;
  border-right: 0;
}
.product-description__form-item .color__div div .color__div-inner {
  display: none;
  height: 12px;
  width: 12px;
  background-color: #ffffff;
}
.product-description__form-item span {
  font-size: 14px;
  line-height: 10px;
  font-weight: 700;
  color: #2f2f2f;
}
.product-description__form-item input {
  height: 33px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 15px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}
.product-description__form-item input[list=color] {
  width: 108px;
  border-left: 0;
  padding: 0;
}

.product-description__form__button {
  width: inherit;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 0;
}
.product-description__form__button span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
  margin-left: 15px;
}
.product-description__form__button img {
  width: 26px;
  height: 24px;
}
.product-description__form__button .product-description__form__img-white {
  display: none;
}

.product-description__form__button:hover {
  background-color: #f16d7f;
}
.product-description__form__button:hover span {
  color: #ffffff;
}
.product-description__form__button:hover .product-description__form__img {
  display: none;
}
.product-description__form__button:hover .product-description__form__img-white {
  display: block;
}

.product-description-slider {
  list-style-type: none;
  display: inherit;
  align-items: center;
  width: 147px;
}
.product-description-slider li a div {
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}
.product-description-slider li:nth-child(even) a div {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}

.like-also {
  min-height: 526px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 47px;
}

.like-also-title {
  height: 162px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.like-also-title span {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.like-also-items {
  width: inherit;
  min-height: 436px;
  display: inherit;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.like-also-item {
  width: 261px;
  height: 364px;
  display: inherit;
  flex-direction: column;
}

.like-also-item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.like-also-item-image {
  width: inherit;
  height: 280px;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}
.like-also-item-image img {
  object-fit: contain;
}

.like-also-item-description {
  height: 84px;
}

.like-also-item-description-info {
  width: 237px;
  min-height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 19px 0 0 14px;
}
.like-also-item-description-info span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.like-also-item-description-info-price {
  display: inherit;
  justify-content: space-between;
}
.like-also-item-description-info-price span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.rating {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 200;
  text-transform: uppercase;
  color: #e4af48;
  cursor: pointer;
}

.rating-star:focus {
  outline: none;
}

.rating-star-selected:before {
  content: "";
  font-weight: 900;
}

.catalog {
  min-height: 1595px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-inner {
  min-height: 1475px;
  display: inherit;
}

.sidebar {
  height: 147px;
  transition: height 0.6s ease-out;
}

.sidebar.active {
  height: 598px;
  transition: height 0s ease-out;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item {
  height: 37px;
  width: 241px;
}

.sidebar-item-link a:hover span, .sidebar-item-menu a:hover {
  color: #b5b5b5;
}

.sidebar-item-link {
  height: 37px;
  border-left: 5px solid #f16d7f;
}
.sidebar-item-link a {
  width: 229px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #6f6e6e;
  border-bottom: 1px solid #ebebeb;
}
.sidebar-item-link a span {
  line-height: 20px;
  font-weight: 700;
  margin-left: 5px;
}
.sidebar-item-link a i {
  line-height: 19px;
}

.sidebar-item-active {
  height: 487px;
}

.sidebar-item-menu-wrap {
  display: none;
}

.sidebar-item-menu {
  width: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 11px;
}
.sidebar-item-menu a {
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
  margin-left: 10px;
}

.sidebar-item-link-caret-active:before {
  content: "" !important;
  color: #f16d7f;
}

.shipping {
  min-height: 1022px;
  display: flex;
  align-items: center;
}

.shipping-items {
  min-height: 450px;
  width: inherit;
}
.shipping-items .active {
  min-height: 456px;
}

.shipping-item {
  min-height: 74px;
  display: inherit;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e8e8e8;
}
.shipping-item h3 {
  font-size: 16px;
  line-height: 74px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.shipping-item-title {
  min-height: inherit;
}

.shipping-item-wrapper {
  height: 420px;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.shipping-item-data {
  height: 342px;
  width: 939px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guest {
  height: inherit;
  width: 261px;
  margin-left: 35px;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}
.guest button {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.guest button span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.guest button:hover {
  background-color: #b5b5b5;
}
.guest button:hover span {
  color: #ffffff;
}

.guest-data {
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guest-info, .registed-info {
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.guest-info h3, .registed-info h3 {
  font-size: 13px;
  line-height: 0.8;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.guest-info span, .registed-info span {
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  color: #b3b2b2;
}
.guest-info i, .registed-info i {
  font-weight: 600;
}

.guest-radio {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.guest-radio .radio-item {
  display: flex;
  position: relative;
}
.guest-radio .radio-item input[type=radio] {
  display: none;
}
.guest-radio .radio-item label {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  cursor: pointer;
}
.guest-radio .radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0 15px 0 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #222222;
  background-color: transparent;
}
.guest-radio .radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 7px;
  left: 4px;
  content: " ";
  display: block;
  background: #222222;
}

.registed {
  height: inherit;
  width: 390px;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}

.registed-data {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registed-input label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
.registed-input label .requiredEmail, .registed-input label .requiredPassword {
  display: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}
.registed-input input {
  width: 390px;
  height: 45px;
  border-radius: 0;
}
.registed-input input.invalid {
  border: 1px solid #f16d7f;
}
.registed-input input.valid {
  border: 1px solid #eaeaea;
}

.registed-error {
  opacity: 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

.registed-buttons {
  width: 323px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registed-buttons button {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
}
.registed-buttons button span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.registed-buttons button:hover {
  background-color: #b5b5b5;
}
.registed-buttons button:hover span {
  color: #ffffff;
}
.registed-buttons a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

/*# sourceMappingURL=style.css.map */
